<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <p class="video-description">
            Local:
        </p>
        <video #localVideo [autoplay]="true" [muted]="false" style="transform: scale(-1, 1);"></video>
    </mat-grid-tile>

    <mat-grid-tile>
        <p class="video-description">
            Remote:
        </p>
        <video #remoteVideo [autoplay]="true" [muted]="true"></video>
    </mat-grid-tile>

</mat-grid-list>

<button mat-raised-button color="primary" (click)="startLocalVideo()">Start Local</button>
<button mat-raised-button color="primary" (click)="pauseLocalVideo()">Stop Local</button>
<button mat-raised-button color="primary" (click)="call()">Call</button>
<button mat-raised-button color="primary" (click)="hangup()">Hangup</button>